<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http: //www.thymeleaf.org">
    <head>
    <h1>Datos de la Persona</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header th:replace="layout/plantilla :: header"/>

    <a th:href="@{/agregar}">Crear Persona</a>
    <div th:if="${personas != null and !personas.empty}">

        <br/>
        <table border="1">
            <tr>
                <th>Nombre:</th>
                <th>Apellido:</th>
                <th>Email:</th>
                <th>Telefono:</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

            <tr th:each="persona : ${personas}">
                <td th:text="${persona.nombre}">Mostrar Nombre</td>
                <td th:text="${persona.apellido}">Mostrar Apellido</td><!-- comment -->
                <td th:text="${persona.email}">Mostrar Email</td><!-- comment -->
                <td th:text="${persona.telefono}">Mostrar Telefono</td>
                <td><a th:href="@{/editar/} + ${persona.id_persona}" th:text="Editar"/></td>
                <td><a th:href="@{/eliminar(id_persona=${persona.id_persona})}" th:text="Eliminar"/></td><
            </tr>
        </table>

    </div>
    <footer th:replace="layout/plantilla :: footer"/>

</body>
</html>
